.app-container {
    width: 80%;
    background-color: #ffffff;
    margin: auto;
}

.home{
    padding-bottom: 15px;
}

.home-filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.home-content {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
    gap: 16px;
    margin-bottom: 30px;
}
